*{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
}

.logo {
  height: 50px;
  padding-top: 10px;
  margin-left: 90px;
}

header {
  display: flow-root;
  justify-content: space-between;
  padding-top: 1%;
  padding-left: 0%;
  padding-right: 20%;
  padding-bottom: 1%;
}

.animate-charcter {
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 100% auto;
   color: #fff;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
       font-size: 25px;
 }
 
 @keyframes textclip {
   to {
     background-position: 100% center;
   }
 }

body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border-radius: 56px 56px 0px 0px;
  display: block;
  margin: 20px;
  width: 100%;
  overflow-y: auto;
}

main {
  display: flex;

}

.text-area {
    height: 200px;
    border: none;
    color: purple;
    padding: 10px;
    text-transform: lowercase;
    border-radius: 15px;
}
::placeholder { color: purple; }
    .text-area:focus {
        outline: none;
    }

.mensaje {
    background: white;
    background-image: url(Imagenes/au.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 15px;
    border: none;
    color: purple;
    padding: 10px;
    height: 200px;
    margin-top: 30px;

}

.mensaje:focus {
  outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar { 
        text-decoration: none;
        margin-left: 30px;
        cursor: pointer;
        position: relative;
        border: none;
        font-size: 12px;
        font-family: inherit;
        color: #fff;
        width: 9em;
        height: 3em;
        line-height: 2em;
        text-align: center;
        background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
        background-size: 300%;
        border-radius: 30px;
        z-index: 1;
      }
      
      button:hover {
        animation: ani 8s linear infinite;
        border: none;
      }
      
      @keyframes ani {
        {
          background-position: 0%;
        }
      
       {
          background-position: 400%;
        }
      }
      
      button:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -1;
        background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
        background-size: 400%;
        border-radius: 35px;
        transition: 1s;
      }
      
      button:hover::before {
        filter: blur(20px);
      }
      
      button:active {
        background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
      }

.btn-encriptar { 

        text-decoration: none;
        cursor: pointer;
        position: relative;
        border: none;
        font-size: 12px;
        font-family: inherit;
        color: #fff;
        width: 9em;
        height: 3em;
        line-height: 2em;
        text-align: center;
        background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
        background-size: 300%;
        border-radius: 30px;
        z-index: 1;
      }
      
      button:hover {
        animation: ani 8s linear infinite;
        border: none;
      }
      
      @keyframes ani {
         {
          background-position: 0%;
        }
      
         {
          background-position: 400%;
        }
      }
      
      button:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -1;
        background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
        background-size: 400%;
        border-radius: 35px;
        transition: 1s;
      }
      
      button:hover::before {
        filter: blur(20px);
      }
      
      button:active {
        background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
      }

.btn-copiar { 
    cursor: pointer;
    margin-top: 20px;
    margin-left: 70px;
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 12px;
    font-family: inherit;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
  }
  
  button:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    {
      background-position: 0%;
    }
  
     {
      background-position: 400%;
    }
  }
  
  button:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
  button:hover::before {
    filter: blur(20px);
  }
  
  button:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  }

  footer {
    font-weight: bold;
    font-size: 12px;
    margin-top: 50px;
  }

